<!-- <app-user-profile></app-user-profile>

<app-parent></app-parent> -->

<!-- <a routerLink="apis">API Calls</a>
<a routerLink="userprofile">UserProfile</a>
<router-outlet></router-outlet>  -->
<header>
    <nav>
      <ul>
        <li><a routerLink="apis" routerLinkActive="active">API Calls</a></li>
        <li><a routerLink="userprofile" routerLinkActive="active">Data Binding</a></li>
        <li><a routerLink="parent" routerLinkActive="active">Communication Between Components</a></li>
        <li><a routerLink="template" routerLinkActive="active">Template Forms</a></li>
        <li><a routerLink="reactive" routerLinkActive="active">Reactive Forms</a></li>
        <li><a routerLink="formarray" routerLinkActive="active">Form Array</a></li>
        <li><a routerLink="routing" routerLinkActive="active">Routing</a></li>
      </ul>
    </nav>
  </header>
  
  <!-- Where the routed components will be displayed -->
  <router-outlet></router-outlet>
  
